.plst-detail-line {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 15px;
    padding: 10px 0px 10px 0px;
    background-color: var(--white, white);
    color: var(--text-dark, darkgrey);
    border-bottom: 1px solid var(--grey-blue-light, lightgrey);
}

