.plsts-content {
    height: calc(100% - 50px);
    overflow-y: auto;
}

.plsts-content___playlists {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
    color: var(--test-dark, black);
}

.plsts-content__loading {
    margin: 15px;
}