.plsts-content {
  height: 100%;
  overflow-y: auto;
}

.plsts-content__loading {
  display: grid;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.plsts-content__playlists {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
  overflow-y: auto;
  height: 100%;
  color: var(--test-dark, black);
}
