<div class="plst-detail" 
      infiniteScroll 
      [scrollWindow]="false" 
      (scrolled)="onScrollDown($event)">
  <div *ngIf="!playlistInfo">Loading...</div>
  <div *ngIf="playlistInfo">
    <div class="plst-detail__header">
      <div>TITLE</div>
      <div>ARTIST</div>
      <div>DURATION</div>
    </div>
    <div class="plst-detail___tracks">
      <div *ngFor="let track of playlistInfo.tracks | slice:limitMin:limitMax;">
        <ozr-playlist-detail-line [track]="track"></ozr-playlist-detail-line>
      </div>
    </div>
  </div>
</div>