.plst-detail__header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 15px;
    padding: 10px 0px 10px 0px;
    font-weight: bold;
    background-color: var(--white, white);
    color: var(--primary, black);
    border-bottom: 1px solid var(--grey-blue-light, lightgrey);
}

.plst-detail___tracks {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    background-color: var(--white, white);
    color: var(--text-dark, black);
}
