.plst-detail {
    height: calc(100% - 180px);
    overflow-y: auto;
    padding: 15px;
}

.plst-detail__header {
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    grid-row-gap: 15px;
    padding: 10px 0px 10px 0px;
    font-weight: bold;
    color: var(--primary, black);
    border-bottom: 1px solid var(--grey-blue-light, grey);
}

.plst-detail___tracks {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    color: var(--text-dark, black);
}
