.plst-header {
    display: grid;
    grid-template-columns: 150px 1fr;
    height: 150px;
    background-color: var(--white, white);
    color: var(--text-dark, black);
    box-shadow: var(--box-shadow);
}

.plst-header__cover {
    margin: 10px 10px 10px 10px;
    max-height: 120px;
    max-width: 120px;
    box-shadow: var(--box-shadow);
}

.plst-header__detail {
    margin: 10px 10px 10px 10px;
}

.plst-header__detail__title {
    font-weight: bold;
    color: var(--text-dark, black);
    padding: 5px 5px 5px 5px;
}

.plst-header__detail__duration {
    color: var(--grey-blue-dark, grey);
    padding: 5px 5px 5px 5px;
}

.plst-header__detail__author {
    color: var(--text-dark, black);
    padding: 5px 5px 5px 5px;
}